@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #2F3C7E;
    --secondary-color: tomato;
    --accent1-color: pink;
    --accent2-color: yellow;
}

h2 {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.hero {
    position: relative;
}


.hero-image {
    display: block;
    width: 100%;
    height: auto;
}

h1, article {
    position: absolute;
}

h1 {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

article {
    background-color: rgba(16, 167, 194, 0.5);
    color: white;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 150px;
    padding: 20px;
}

article img {
    width: 200px;
    float: right;
}

.social img {
    width: 50px;
    height: auto;
}


.adventures img {
    width: 100%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

nav {
    display: flex;
}
header a {
    display: block;
    padding: 20px;
    margin: 5px;
}

header a:hover {
    color: black;
    background-color: var(--secondary-color);
}

section {
    text-align: center;
}

.photos {
    display: flex;
    justify-content: space-between;
}

.photos img {
    width: 100px;
    height: 100px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left center right";
    align-items: center;
    margin-top: 50px;
}

.wireframe {
    grid-area: left;
}

.social {
    grid-area: right;
    display: flex;
    justify-content: space-evenly;
}

footer p {
    grid-area: center;
    text-align: center;
}


/* contact page css */
.address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.employees {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.employees img {
    width: 300px;
    height: 300px;
}

.address, .employees, .contact-form {
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}
.contact-form {
    margin-top: 100px;
}

.contact-form form {
    display: grid;
    gap: 50px;
    grid-template-areas:
    "inputs message"
    "submit submit";
    background-color: gray;
    padding: 20px;
    border-radius: 0.8rem;
}

form button {
    grid-area: submit;
    background-color: navy;
    color: white;
    border-radius: 0.5em;
    padding: 0.7rem;
}

.message-box {
    grid-area: message;
    display: flex;
    flex-direction: column;
}

.other-inputs {
    grid-area: inputs;
    display: grid;
}

.input-element {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0.5rem;
}

input[type="text"] {
    padding: 5px;
}

label {
    font-size: 1.2rem;
}

/* trip page css */
 .offerings {
    display: flex;
    justify-content: space-between;
 }
 .offerings img {
    width: 300px;
    height: 200px;
 }

 .offer {
    border: 1px solid dodgerblue;
 }

 .offer:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .offer-text {
    padding: 10px;
 }

 .offer-text h3 {
    color: #2F3C7E;
 }

 .offer-text span {
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
 }
.offer-heading {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
}

.callout {
    position: absolute;
    top: 350px;
    left: -120px;
    background-color: tomato;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.callout a {
    text-decoration: none;
    color: white;
}


/* offer table css */

.offerings-table {
    margin-top: 70px;
}

table, th, tr, td {
    border: 1px solid dodgerblue;
    border-collapse: collapse;
    padding: 15px;
}

th {
    color: navy;
    font-size: 1.5rem;
}

.offer-cell {
    width: 35%;
}


/* home header */
#home-heading {
    font-size: 3.5rem;
}

.middle-section {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    background-color: aliceblue;
    height: 300px;
    padding: 20px;
}

.trip-callout {
    background-color: white;
    padding: 30px;
    transform: skewX(-20deg);
    border: 2px solid red;
}

.trip-callout p, .trip-callout a {
    transform: skewX(20deg);
    font-size: 1.5rem;
}

.trip-callout a {
    color: red;
}

.sign-up {
    display: grid;
    justify-content: center;
    align-items: center;
}

.bottom-section {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.bottom-section > .offer {
    width: 300px;
}
.bottom-section img {
    width: 300px;
    height: 200px;
}
